<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}"
      th:replace="~{/fragments/layout :: layout (~{::body})}">
<!--      layout:decorate="~{fragments/layout}">-->
<head>
    <meta charset="UTF-8"/>
    <title>Registration</title>
</head>
<body>
<section class="banner_part">
    <div class="container">
        <div class="col-lg-4">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 text-center">
                            <form th:action="@{/owners/new}" method="post" id="add-owner-form" class="bg-white p-4"
                                  th:object="${owner}">
                                <h2 th:with="text=${owner['new']} ? 'Registration' : 'Update Owner'"
                                    type="text"
                                    th:text="${text}">Registration</h2>
                                <br/>
                                <div class="form-group has-feedback">
                                    <input type="hidden" name="id" th:value="*{id}"/>

                                    <label class="text-black font-weight-bold" for="firstName">
                                        First Name
                                    </label>
                                    <input class=" form-control" id="firstName" required="required"
                                           th:field="*{firstName}"/>

                                    <div th:if="${#fields.hasErrors('firstName')}"
                                         style="margin-bottom: 25px"
                                         class="text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('firstName')}"
                                                th:text=" ${err}"></li>
                                        </ul>
                                    </div>
                                    <label class="text-black font-weight-bold" for="lastName">
                                        Last Name
                                    </label>
                                    <input class="form-control" required="required" id="lastName"
                                           th:field="*{lastName} "/>

                                    <div th:if="${#fields.hasErrors('lastName')}"
                                         style="margin-bottom: 25px"
                                         class="text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('lastName')}"
                                                th:text=" ${err}"></li>
                                        </ul>
                                    </div>
                                    <label class="text-black font-weight-bold" for="address">
                                        Address
                                    </label>
                                    <input class=" form-control" required="required" id="address"
                                           th:field="*{address}"/>

                                    <div th:if="${#fields.hasErrors('address')}"
                                         style="margin-bottom: 25px"
                                         class="text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('address')}"
                                                th:text=" ${err}"></li>
                                        </ul>
                                    </div>
                                    <label class="text-black font-weight-bold" for="telephone">
                                        Telephone
                                    </label>
                                    <input class=" form-control" required="required" id="telephone"
                                           pattern="[\+]\d{2}\d{2}\d{4}\d{4}"
                                           title="Phone Number like: +380502087566"
                                           th:field="*{telephone}"/>

                                    <div th:if="${#fields.hasErrors('telephone')}"
                                         style="margin-bottom: 25px"
                                         class="text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('telephone')}"
                                                th:text=" ${err}"></li>
                                        </ul>
                                    </div>
                                    <label class="text-black font-weight-bold" for="email">
                                        Email
                                    </label>
                                    <input class=" form-control" type="text" required="required"
                                           id="email"
                                           th:field="*{email}" th:type="email">

                                    <div th:if="${#fields.hasErrors('email')}"
                                         style="margin-bottom: 25px"
                                         class="text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('email')}"
                                                th:text=" ${err}"></li>
                                        </ul>
                                    </div>
                                    <label class="text-black font-weight-bold" for="password">
                                        Password
                                    </label>
                                    <input class=" form-control" type="password" required="required"
                                           id="password"
                                           pattern=".{6,}"
                                           title="Six or more characters"
                                           th:field="*{password}"/>
                                    <div th:if="${#fields.hasErrors('password')}"
                                         style="margin-bottom: 25px" class="text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('password')}"
                                                th:text=" ${err}"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button
                                            th:with="text=${owner['new']} ? 'Registration' : 'Update Owner'"
                                            class="btn_1 d-none d-md-inline-block nav-link" type="submit"
                                            th:text="${text}">Registration
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>