<!-- jquery plugins here-->
<!-- jquery -->
<script th:src="@{/js/jquery-1.12.1.min.js}"></script>
<!-- popper js -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- counterup js -->
<script th:src="@{/js/jquery.counterup.min.js}"></script>
<!-- waypoints js -->
<script th:src="@{/js/waypoints.min.js}"></script>
<!-- easing js -->
<script th:src="@{/js/jquery.magnific-popup.js}"></script>
<!-- particles js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- custom js -->
<script th:src="@{/js/custom.js}"></script>
